@{
    ViewData["Title"] = "Home Page";
}

    <style>
        body { background:#171717; color: #ffffff; font-family: Courier New; margin:unset; overflow:hidden; }
        header,
        footer { display:none; }
        .pb-3 { margin:unset; }
        .homepage__message { margin: 50vh auto; }
    </style>

    <p class="homepage__message">Welcome to my personal website. I'm a .NET web developer and hope to have my site up soon to showcase what I've been working on. Please come back later...</p>
